/* The purpose of this CSS is to make the built-in plugin docs look similar to GitHub. */

h1 {
    padding-top: .3em;
    padding-bottom: .3em;
    font-size: 2em;
    border-bottom: 1px solid lightgray;
}

h2 {
    padding-top: .3em;
    padding-bottom: .3em;
    font-size: 1.5em;
    border-bottom: 1px solid lightgray;
}

h2 + * {
    padding-top: 0.3em;
}

img {
    max-width: 100%;
}

#page {
    margin-top: 0;
    padding: 16px 32px 16px 32px;
}

#tool_mulib_plugindocs {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
}
