{{!
This file is part of MuTMS suite of plugins for Moodle™ LMS.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

@copyright   2022 Open LMS (https://www.openlms.net/)
@copyright   2025 Petr Skoda
@license     https://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

}}
{{!
    @template tool_mulib/dialog_form/button

    Dialog form launch button.

    Example context (json):
    {
        "title": "Actions",
        "formurl": "https://example.com/something.php",
        "dialogname": "Some dialog",
        "aftersubmit": "reload",
        "class": "xl",
        "disabled": false,
        "legacyformtest": false,
        "icon": "<i class=\"icon fa fa-cog fa-fw\" aria-hidden=\"true\" title=\"Edit\" aria-label=\"\"></i>",
        "priamry": 1
    }
}}
{{#disabled}}
<button disabled class="btn btn-secondary {{class}}">{{{icon}}}{{title}}</button>
{{/disabled}}
{{^disabled}}
{{#legacyformtest}}
<form method="post" action="{{formurl}}">
<button
  class="btn {{#primary}}btn-primary{{/primary}}{{^primary}}btn-secondary{{/primary}} {{class}}">{{{icon}}}{{title}}</button>
</form>
{{/legacyformtest}}
{{^legacyformtest}}
<noscript><form method="get" action="{{formurl}}"><button type="submit">{{title}}</button></form></noscript>
<button id="dialog-form-action-{{uniqid}}"
  data-form-url="{{formurl}}" data-dialog-name="{{dialogname}}" data-after-submit="{{aftersubmit}}" data-dialog-size="{{dialogsize}}"
  class="btn {{#primary}}btn-primary{{/primary}}{{^primary}}btn-secondary{{/primary}} {{class}}">{{{icon}}}{{title}}</button>

{{#js}}
require([
    'tool_mulib/dialog_form',
], function(DialogForm) {
    let action = document.getElementById('dialog-form-action-{{uniqid}}');

    action.onclick = function() {
        new DialogForm({
            modalConfig: {title: action.dataset.dialogName},
            triggerElement: action,
            formUrl: action.dataset.formUrl,
            afterSubmit: action.dataset.afterSubmit,
            size: action.dataset.dialogSize,
        });
    };
});
{{/js}}
{{/legacyformtest}}
{{/disabled}}
